.colour-grid{
    height: 300px;
    width: 300px;
    display:grid;
    grid-template: 1fr 1fr/1fr 1fr;

}

.game-grid{
    display: grid;
    grid-template: 1fr 1fr / 1fr ;
    justify-items: center;
}
