
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono&display=swap');

.App {
  font-family: 'Press Start 2P', 'cursive';
  color: white;
  padding: 100px;
}

*{
  background: black;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav{
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
}

.nav-link{
  padding: 10px;
}

a{
  text-decoration: none;
  color: white;
}

  a:hover{
    color: lightblue;
  }


